@media screen and (max-width: 576px) {
    .navbar {
        padding: 10px 0 0;
        flex-direction: column;
        box-shadow: 0 0 0 0;
    }

    .navbar>ul {
        flex-direction: column;
        margin-top: 25px;
    }

    .banner {
        padding: 0;
        margin: 60px;
        flex-direction: column-reverse;
        background-image: none ;
    }
    .banner-title {
        font-size: 30px;
        margin-bottom: 16px ;
    }
    .banner-title>.goat {
        font-size: 42px;
    }
    .content{
        text-align: center ;
        background: url("images/Group\ 14.png");
        background-position: right ;
    }
    .btn-primary{
        padding: 12px 18px;
    }
}

/* for tablet device */
@media screen and (min-width: 480px) and (max-width: 768px){
    .navbar{
        padding: 30px ;
    }
    .banner {
        padding: 0;
        margin: 60px;
        flex-direction: column-reverse;
        background-image: none ;
    }
    .banner-title {
        margin-bottom: 16px ;
    }
    .content{
        text-align: center ;
        background: url("images/Group\ 14.png");
        background-position: right ;
    }
    .btn-group{
        gap: 40px ;
    }
    .btn-primary{
        padding: 18px 40px;
    }
}